<!DOCTYPE html>
{%extends 'testapp/base.html' %}
{%load static %}



{%block body_block %}
<link rel="stylesheet" href="{% static 'css/hot.css' %}">
<h1>Here we are providing and colaboarted with millions of hotels:- </h1>
<h2>The wide variety of Hotels are:- </h2>
<ul>
  <li><a href="https://www.youtube.com/watch?v=hQ0n9gxAAmc"target="_blank">he Venetian Resort</a></li>
  <li><a href="https://www.youtube.com/watch?v=hQ0n9gxAAmc"target="_blank">the metro Resort</a></li>
  <li><a href="https://www.youtube.com/watch?v=hQ0n9gxAAmc"target="_blank">the chennai palace</a></li>
  <li><a href="https://www.youtube.com/watch?v=hQ0n9gxAAmc"target="_blank">the Hyderabadi taj</a></li>
  <li><a href="https://www.youtube.com/watch?v=hQ0n9gxAAmc"target="_blank">Five star</a></li>
  <li><a href="https://www.youtube.com/watch?v=hQ0n9gxAAmc"target="_blank">sea side hotel</a></li>

</ul>
<div class="container">
  <div class="jumbotron">
    <div class="row">
      <div class="col-lg-4 col-sm-6">
        <div class="thumbnail"><img src="https://lh3.googleusercontent.com/Xn0D9SxkjSs41CphCkeYFTfCK4tsJMyYCRvTyrSK6nUwntEOaRmH1Ub538tK003IgQ63cV0wWM9Q2KAnZhkZTqG-Ckv-dE4JjNC6s2y9pOgRzY1LicCz1KS6o4SNbZ6C5ZaNQ6Mj"height=200px; width=300px alt="">
          </div>       </div>
          <div class="col-lg-4 col-sm-6">
            <div class="thumbnail"><img src="https://lh6.googleusercontent.com/LAe1lKces6v_wtNZ33l_UYIprlvQ1za8cyAWtcxafjbXSaqw_v1sM-BPDd96myaTXdNKtC8t5uyo8b0Q7HnjdXOA1EQXEPoRmsVCep_04VsdUQ8y4eBIOuN75d9YWT3JhJvlUxSO"height=200px; width=300px alt="we will get back to you">
              </div>       </div>
              <div class="col-lg-4 col-sm-6">
                <div class="thumbnail"><img src="https://lh5.googleusercontent.com/ZMTpscrjimJBBa8vBbsKBp4RD140xzhZZx1L1tH7UvMHE8mYkXskPje_RGWQk8cpzaxFHSNkRs7RbDMTEwMrKU9fx_Fziojwlrr4_UBOPpdmNt121Pv4HRon82juKvHq6Bxq7jfm" height=200px; width=300px;alt="we will get back to you">
                  </div>       </div>
                  <div class="col-lg-4 col-sm-6"><div class="thumbnail"> <img src="https://www.tajhotels.com/content/dam/vivanta/hotels/VBT-Fisherman%27s_Cove_05Feb2016/image/Motifs/Quick_Peak,Dinner_beach.jpg/jcr:content/renditions/cq5dam.web.512.512.jpeg" height=200px; width=300pxalt="we will get back to you"> </div>       </div>
                  <div class="col-lg-4 col-sm-6"><div class="thumbnail"> <img src="https://www.tajhotels.com/content/dam/vivanta/hotels/fisherman-cove,chennai/images/gallery/BV6.jpg/jcr:content/renditions/cq5dam.web.512.512.jpeg"height=200px; width=300px alt="we will get back to you">  </div>       </div>
                  <div class="col-lg-4 col-sm-6"><div class="thumbnail"> <img src="https://www.tajhotels.com/content/dam/vivanta/hotels/VBT-Fisherman%27s_Cove/images/Motifs/Watchtower_Dining_4x3-09.jpg/_jcr_content/renditions/cq5dam.web.512.512.jpeg"height=200px; width=300px alt="we will get back to you"> </div>       </div>
                  <div class="col-lg-4 col-sm-6"><div class="thumbnail"><img src="https://edge.media.datahc.com/HI565294805.jpg" height=200px; width=300px;alt="we will get back to you">  </div>       </div>
                  <div class="col-lg-4 col-sm-6"><div class="thumbnail"><img src="https://edge.media.datahc.com/HI575202344.jpg"height=200px; width=300px alt="we will get back to you">  </div>       </div>
                  <div class="col-lg-4 col-sm-6"><div class="thumbnail"><img src="https://www.tajhotels.com/content/dam/vivanta/hotels/fisherman-cove,chennai/images/feast/Aerial-View-Taj-Fisherman.jpg" height=200px; width=300pxalt="we will get back to you">  </div>       </div>




    </div>

  </div>

</div>
{%endblock%}
