<!DOCTYPE html>
{%extends 'testapp/base.html' %}
{%load static %}

{%block body_block %}
<link rel="stylesheet" href="{% static 'css/tra.css' %}">
<h1>You can travel accross the world through our agency </h1>
<h3>below are the listed coutries that we will provide service:- </h3>
<h4>all over the India</h4>
<ol>
  <li>  Mizoram</li>
  <li>  Andhra pradesh</li>
  <li>  Telengana</li>
  <li>  Kerala</li>
  <li>  Tamil nadu</li>
  <li>  etc</li>
</ol>
<ul>
  <h4>Across Globe</h4>
  <li>America</li>
  <li>Israel</li>
  <li>Jordan</li>
  <li>England</li>
  <li>UAE</li>
  <li>Russia</li>
  <li>Japan</li>
  <li>China</li>
  <li>Switzerland</li>
</ul>
{%endblock%}
