



h1{
  color:yellow !important;
    padding-top: 100px;
}
h3{
  color:green;
}

body{
  background: url("https://png.pngtree.com/thumb_back/fh260/back_our/20190619/ourmid/pngtree-travel-around-the-world-travel-poster-template-image_140335.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.container .jumbotron{
  background:url("https://i.pinimg.com/originals/e9/82/bf/e982bf01b4e4dab30caeacf46ee846a3.jpg");
  background-repeat: no-repeat;
  background-size: cover;

}
img{
  border: 1px green solid;
  margin-bottom: 5px;
}



@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;

  }
}
